# Processamento de dados

## Lendo a tabela Excel

In [1]:
from pathlib import Path

import pandas as pd

caminho_dados = Path('dados') / 'dados.xlsx'
dados_brutos = pd.read_excel(caminho_dados)

In [2]:
dados_brutos

,Data/Hora,Vendedor,Cliente,Produto,Quantidade,Valor Unitário,Valor Venda
0,2023-01-01 02:39:07,Caroline Fernandes,Helena Alves,Mesa,4,649.99,2599.96
1,2023-01-01 02:52:49,Noah Aragão,Benjamin Moraes,Cadeira,1,249.99,249.99
2,2023-01-01 03:35:33,Caroline Fernandes,Yuri Lima,Televisão,4,994.90,3979.60
3,2023-01-01 04:24:04,Gustavo Porto,Sr. Heitor Viana,Televisão,1,994.90,994.90
4,2023-01-01 04:50:42,Noah Aragão,Maria Sophia Silveira,Mesa,2,649.99,1299.98
...,...,...,...,...,...,...,...
995,2023-03-30 08:07:15,Noah Aragão,Juan da Rosa,Cadeira,4,249.99,999.96
996,2023-03-30 10:19:41,Gustavo Porto,João Guilherme da Luz,Televisão,3,994.90,2984.70
997,2023-03-30 12:32:57,Noah Aragão,Maitê da Luz,Televisão,1,994.90,994.90
998,2023-03-30 14:07:39,Caroline Fernandes,Luiz Fernando Vieira,Cadeira,2,249.99,499.98
999,2023-03-30 20:46:40,Otávio Carvalho,Thiago Rezende,Televisão,2,994.90,1989.80

## Filtrando por um mês específico

In [3]:
dados_brutos['Data/Hora'].apply(lambda dt: (dt.year, dt.month)).unique()

array([(2023, 1), (2023, 2), (2023, 3)], dtype=object)

In [6]:
mes_referencia = '2023-01'
filtro = dados_brutos['Data/Hora'].apply(
    lambda dt: dt.strftime('%Y-%m') == mes_referencia
)

dados_filtrados = dados_brutos.loc[filtro]
dados_filtrados

,Data/Hora,Vendedor,Cliente,Produto,Quantidade,Valor Unitário,Valor Venda
0,2023-01-01 02:39:07,Caroline Fernandes,Helena Alves,Mesa,4,649.99,2599.96
1,2023-01-01 02:52:49,Noah Aragão,Benjamin Moraes,Cadeira,1,249.99,249.99
2,2023-01-01 03:35:33,Caroline Fernandes,Yuri Lima,Televisão,4,994.90,3979.60
3,2023-01-01 04:24:04,Gustavo Porto,Sr. Heitor Viana,Televisão,1,994.90,994.90
4,2023-01-01 04:50:42,Noah Aragão,Maria Sophia Silveira,Mesa,2,649.99,1299.98
...,...,...,...,...,...,...,...
337,2023-01-31 14:22:44,Eloah Fernandes,João Lucas Caldeira,Televisão,4,994.90,3979.60
338,2023-01-31 16:34:17,Noah Aragão,Dr. Thales Nascimento,Mesa,4,649.99,2599.96
339,2023-01-31 18:05:20,Eloah Fernandes,Enzo Gabriel Pereira,Cadeira,4,249.99,999.96
340,2023-01-31 21:11:51,Gustavo Porto,Sr. Renan Rezende,Cadeira,1,249.99,249.99
341,2023-01-31 23:19:28,Noah Aragão,Luiz Gustavo Ramos,Cadeira,1,249.99,249.99